@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.grid>.row {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.cursor-pointer-i{
  cursor: pointer !important;
}

.ui.button {
  animation-iteration-count: 1 !important;
  animation-duration: .3s !important;
  animation-timing-function: ease !important;
  animation-fill-mode: both !important;
  transition-duration: 500ms !important;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform !important;
}